*
!.dockerignore
!Dockerfile
!docker-entrypoint.sh
!app/
!bootstrap/
!config/
!database/migrations/
!database/seeders/
!database/factories/
!public/
!resources/
!routes/
!storage/
!artisan
!composer.json
!composer.lock
!package.json
!package-lock.json
!vite.config.js
!tailwind.config.js
!.env.example
!postcss.config.js
